.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.generic-page__tracking-link {
  border: 5px solid mediumaquamarine;
  padding: 9px;
  font: bold 18px Arial;
  background-color: #EEEEEE;
  color: #333333;
  font-size: 32px;
  text-decoration: none;
}

.generic-page__container {
  padding-top: 5%;
  padding-bottom: 15%;
}

.generic-page__slot {
  padding-bottom: 15%
}

.scroll-listener__container {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background: black;
  color: white;
}

.scroll-listener__user-scrolled-to {
  font-size: 120px;
}
